$accent : #eD0286;
$compl : #ffeb3b;

@import 'css';  

section#section0{ 
	background-size: cover;
	background-position: center center;
	background-image: url("../img/summer/cover.jpg");
	color: white; 
	padding-bottom: 0; 
	height: auto;
	max-height: auto; 
 
	.cover{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
	}

	.text{		
		position: relative;
		z-index: 2;
		top: 0; 
		padding: 100px 10% 50px 10%;				
		display: block;  
		margin: 0;
		
		h1, span, p{
			max-width: 600px;
			margin: 0 auto;
		}

		h1{
			font-size: 40px; 
			padding: 20px; 
			text-align: center; 
			font-weight: 700;}

		span{
			display: block;
			font-size: 20px;
			text-align: center; }
	}  

	.btn-floating{
		position: fixed;
		bottom: 40px;
		right: 40px;
		z-index: 20;
	}

	.menu-top{ 		 
		color: white;
		z-index: 5; 
		display: -webkit-flex; 
		display: -ms-flexbox; 
		display: flex;
		margin: 0 auto;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center; 
		position: relative; 
		width: auto!important; 

		.item-wrapper{
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: center;
			    -ms-flex-pack: center;
			        justify-content: center; 
			-webkit-flex-wrap: wrap; 
			    -ms-flex-wrap: wrap; 
			        flex-wrap: wrap;
			width: auto; 			
			margin: 20px;

			.item{
				width: auto!important;
				padding: 15px 30px;
				cursor: pointer;
				color: white;
				border: solid 2px white;  
				text-transform: uppercase;
				transition: 0.3s; 

				&:hover{
					background-color: white;
					color: #333; } 
			}
		}		
	}
}

section#section1{  
	min-height: auto!important;

	p{
		font-family: Merriweather;
		text-align: center;
		padding: 40px;
		margin: 0 auto;
		max-width: 600px;}
}

section#section2{

	background: rgba(39,9,74,1);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(39,9,74,1)), color-stop(100%, rgba(168,0,67,1)));
	background: linear-gradient(135deg, rgba(39,9,74,1) 0%, rgba(168,0,67,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27094a', endColorstr='#a80043', GradientType=1 );

	color: white;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	
	h1,p{
		
		max-width: 600px;
		margin: 0 auto;
	}

	h1{
		max-width: 700px;
		font-weight: 300;
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		margin: 30px;}

	p{
		padding: 10px 30px;	}
}

section#section3{
	background-color: #ddd;
	padding: 60px 10% 60px 10%;

	.main-text{
		color: #333;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		display: block;	}


	h1{
		display: block;
		color: $accent!important;
		text-transform: uppercase;
		font-weight: 300;
		padding-top: 50px;
		margin: 10px auto;
		font-size: 30px;} 

	.cards-container{		
		margin: 50px 0;	}

	@media only screen and (max-width: 992px){
		.col:nth-child(7), .col:nth-child(8){
			display: none;}
	}

	@media only screen and (max-width: 600px){
		padding: 60px 0% 60px 0%; 
		.col:nth-child(4), .col:nth-child(5), .col:nth-child(6){
			display: none;}
	}

	.img-ico {
		margin: 10px 0; 
		height: 250px;
		overflow: hidden;	 
		background-size: cover;
		background-position: center center;		
		
		img{
			float: right;
			width: auto;
			height: 300px;
			opacity: 0;

			&.active{
				opacity: 1;	}
		}
	} 
}


section#section4{

	margin-top: -50px;
	padding: 50px 40px 0px 40px;
	background-color: #eee;

	h1, h2, p, ul{
		max-width: 500px;
		margin: 0 auto;
	}

	h1,h2{
		text-align: center;
		text-transform: uppercase;		
		color: $accent;	
	}

	h1{
		font-weight: 300;
		margin-top: 50px;
		font-size: 30px;}

	h2{ 
		font-weight: 700;
		margin-top: 10px;
		margin-bottom: 30px;
		font-size: 16px;	}

	p{
		margin: 15px auto 50px auto;	}

	li {
		list-style: disc outside none;
		display: list-item;
		max-width: 90%;
		margin-top: 5px;
		margin-left: 2em;	}

	.plant-row {
		margin: 50px 0 0px 0;		
		width: 100%; 
		display: -webkit-flex; 
		display: -ms-flexbox; 
		display: flex;
		overflow: hidden;
	
		.img-ico{
			width: 25%;
			height: auto; 
			margin: 0!important; 
			background-position: center center;
			background-size: cover; 

			img{
				opacity: 0;
				height: 200px;
				width: auto;
				margin: 0!important;
					
				&.active{
					opacity: 1;
				}
			}
		}
	}
}

.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
} 

section#section5{

	background-color: #fafafa;
	padding: 40px;

	h1, h3, h2, p, ul, .horario{
		max-width: 500px;
		margin: 0 auto; }

	h1, h3, .horario{
		text-align: center;	}

	h1{
		margin-top: 50px;
		font-size: 30px;
		color: $accent;
		text-transform: uppercase;
		font-weight: 300;	}

	h3{
		color: $accent;
		font-size: 20px; }
	p{
		text-align: center; } 

	.tip{
		font-weight: 700; 
		margin: 30px auto; 
		text-align: center;}
	
	.food{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.group-2{
		margin: 20px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;	
		-webkit-justify-content: center;	
		    -ms-flex-pack: center;	
		        justify-content: center;	
		-webkit-align-items: center;	
		    -ms-flex-align: center;	
		        align-items: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap; 
	}

	.group{ 

		padding: 15px 40px;
		border-radius: 60px;
		width: auto;  
		background-color: #eee;
		margin: 10px;
	}

}

section#section6{
	background-color: #eee;
	padding: 40px;

	h1, h3, .descuento{
		max-width: 600px;
		text-align: center;
		margin: 0 auto;	}

	h1{
		margin-top: 40px;
		color: $accent;
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;	}

	h3{
		font-size: 16px;
		margin-bottom: 10px;
		font-weight:  700;	}

	ul{
		max-width: 500px; 
		margin: 0 auto;		
		margin-bottom: 40px;}
	
	li { 

		span{ color: $accent;}

		list-style: disc outside none;
		display: list-item;
		max-width: 90%;
		margin-top: 5px;
		margin-left: 2em;	}
	
	button{
		display: block;
		margin: 20px auto;
		width: auto; }

	.price-group-2{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;

		.price-group{
			width: auto;
			text-align: center;
			padding: 30px;	
			
			.price{
				font-size: 30px;
				font-weight: 300;	}

			.time{
				color: $accent;	}
		}
	}
}

.card{
 
	overflow: hidden;
	border-radius: 2px;


	li {
		list-style: disc outside none;
		display: list-item;
		width: 90%;
		margin-top: 10px;
		margin-left: 2em;	}
  
	.card-content, .card-reveal{ 
  
  		overflow: hidden;
		
		i{
			position: absolute; 
			left: 85%!important;  }
		p{
			margin-top: 10px;	}
		
 		.card-title{
			font-weight: 400;
			line-height: 17px; 
			font-size: 16px;	} 
	}

	.card-reveal {
		overflow-y: auto;
		.card-title{
			color: $accent;	
		}
	}
}

